.photo-container {
  padding: 10px;
}

.photo-card {
  width: auto;
  height: 400px;
  border: 1px solid rgba(225, 225, 230, 0.66);
  position: relative;
  .img {
    width: auto;
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 200% auto;
    height: 100%;
  }
  .actions {
    font-size: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    opacity: 0;
    transition: opacity 0.195s ease-out;
    color: white;
    i {
      cursor: pointer;
      text-shadow: 0px 0px 5px #555;
      transition: text-shadow 0.195s ease-out, transform 0.1s ease-out, color 0.12s;
      &:hover {
        text-shadow: 0px 0px 10px #222;
      }
      &:active {
        transform: scale(0.8);
        color: #eee;
      }
    }
  }
  .bottom {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: rgba(30, 30, 30, 0.54);
    color: white;
    .info {
      h2 {
        display: inline-block;
        float: left;
        &:nth-child(2) {
          float: right;
        }
      }
    }
    cursor: auto;
  }

  cursor: zoom-in;

  &:hover .actions {
    opacity: 1.0;
  }
}
